#my-custom-identifier-artists .swiper-button-prev {
  position: absolute;
  left: 5px;
  background-image: url(../../../assets/svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-62%) rotate(180deg);
}

#my-custom-identifier-artists .swiper-button-next {
  background-image: url(../../../assets/svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  transform: translateY(-62%);
  height: 40px;
  position: absolute;
  right: 0px;
}

#my-custom-identifier-playlists .swiper-button-prev {
  position: absolute;
  left: 5px;
  background-image: url(../../../assets/svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-62%) rotate(180deg);
}

#my-custom-identifier-playlists .swiper-button-next {
  background-image: url(../../../assets/svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  transform: translateY(-68%);
  height: 40px;
  position: absolute;
}

#my-custom-identifier-tracks .swiper-button-prev {
  position: absolute;
  left: 5px;
  background-image: url(../../../assets/svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
}

#my-custom-identifier-tracks .swiper-button-next {
  background-image: url(../../../assets/svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  transform: translateY(-16%);
  height: 40px;
  position: absolute;
}
