.header-carrousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-carrousel h1 {
  margin: 0;
}

.arrow {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--yellow);
  transition: all 0.2s ease-out;
  z-index: 999;
}

.arrow:hover {
  cursor: pointer;
  color: var(--yellow-accent);
}

@media (max-width: 700px) {
  .arrow {
    font-size: 1rem;
  }
}
